<?xml version="1.0" ?>

<robot name="SR80" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Import SR80 urdf file -->
  <xacro:include filename="$(find sr80_description)/urdf/sr80_wm.urdf" />
  
  <!-- macro definition of pilz lwa 
  <xacro:include filename="$(find prbt_support)/urdf/prbt_macro.xacro" />
  -->

  <!-- coloring from the stl file -->
  <material name="yellow">
    <color rgba="1 1 0 1"/>
  </material>

  <!-- coloring from the table -->
  <material name="grey">
    <color rgba="0.75 0.75 0.75 1"/>
  </material>


</robot>