<?xml version="1.0"?>
<launch>

  <arg name="sim" default="true" />

  <!-- send urdf to param server -->
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find pilz_tutorial)/urdf/sr80_application.xacro'"/>

  <include file="$(find sr80_moveit_config_new)/launch/moveit_planning_execution.launch">
  <!--include file="$(find sr80_moveit_config)/launch/demo.launch"-->
    <arg name="load_robot_description" value="false"/>
    <arg name="sim" value="$(arg sim)"/>
    <!--arg name="moveit_controller_manager" value="ros_control" /-->
    <arg name="pipeline" value="pilz_industrial_motion_planner"/><!-- Until version 0.4.5 'pilz_command_planner' -->
  </include>

</launch>